.sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.021);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
}


.menu ul li {
    position: relative;
    list-style: none;
    margin-bottom: 13px;
}

.menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.menu ul li>a:hover,
.menu ul li.active>a {
    color: #ffffff;
    background: linear-gradient(90deg, rgba(31, 142, 190, 1) 0%, rgba(68, 4, 149, 1) 50%, rgba(177, 2, 205, 1) 100%);
    transition: all 0.3s ease;
}

.menu ul li .icon {
    font-size: 20px;
}

.menu ul li .text {
    flex: 1;
}

.menu ul li .arrow {
    font-size: 14px;
    transition: all 0.3s;
}
