.transparent-table {
    width: 100%;
    border-collapse: collapse;
}

.transparent-table th,
.transparent-table td {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.transparent-table th {
    background-color: rgba(0, 0, 0, 0.041);
    text-align: left;
    color: rgb(153, 153, 153);
}